{{ define "main" }}
<div class="single">
  <div class="singleHead">
    <div class="singleHeadTexts">
      <h1 class="singleHeadTitle">{{.Title}}</h1>
      <p class="singleHeadDesc">{{.Params.description}}</p>
      <div class="singleHeadDetail">
        <img
          src="{{.Params.avatar}}"
          loading="lazy"
          alt=""
          class="singleAvatar"
        />
        <span>
          {{ range (.GetTerms "authors") }}
          <a href="{{.Permalink}}">{{ .Name }}</a>
          {{ end }}
        </span>
        {{ range (.GetTerms "categories") }}
        <a href="{{.Permalink}}" class="singleCategory">{{ .Name }}</a>
        {{ end }}
      </div>
      <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
    <img src="{{ .Params.imageBig }}" alt="{{.Title}}" class="singleHeadImg" />
  </div>
  <div class="singleBottom">
    <div class="singleContent">{{ .Content }}</div>
    <div class="singleRightBar">{{ partial "rightBar" .}}</div>
  </div>
  <div
    style="
      padding: 10px;
      background-color: #f0f0f0;
      text-align: center;
      border-radius: 100px;
      box-shadow: #9b9b9b 0px 0px 5px;
      margin-top: 1rem;
    "
  >
    <a
      href="https://www.onetender.com.au/"
      target="_blank"
      style="color: #000000; text-decoration: none; font-weight: bold"
    >
      🚀 Explore One Tender
    </a>
  </div>
</div>
{{ end }}
